@page
@model RazorPagesWebServer.Pages.Vacante.Index.BaseModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<partial name="Header" />

<h1>Indice de vacantes</h1>
<ul>
    <li><a href="/Vacante/Crear">Crear nueva vacante</a></li>
</ul>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Area</th>
            <th>Sueldo</th>
            <th>Activo</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vacante in Model.VacanteLista)
        {
            <tr>
                <td>@vacante.Id</td>
                <td>@vacante.Area</td>
                <td>@vacante.Sueldo</td>
                <td>@(vacante.Activo == true ? "Si" : "No")</td>
                <td><button type="submit" asp-page-handler="delete" asp-route-id="@vacante.Id">Borrar</button></td>
                <td><a href="/Vacante/Editar?Vacante.Id=@vacante.Id">Editar</a></td>
            </tr>
        }
    </tbody>
</table>